<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="csrf-token" content="{csrf()}">
    <title>{$title|default:'Nova'}</title>
    {asset 'app.scss'}
</head>
<body>
    {$content|noescape}
    <script>
        window.Nova = Object.assign(window.Nova || {}, {
            env: {=json_encode(config('app.env', 'production'))|noescape},
            ui: {=json_encode(config('ui', []))|noescape}
        });
    </script>
    {asset 'app.ts'}
</body>
</html>
