<section class="nova-page nova-page-home">
    <h1>{$title}</h1>
    <p>{$message}</p>
    <nav>
        <a href="/about">About</a>
        <a href="/users">Users</a>
        <a href="/users/15">User 15</a>
    </nav>
</section>
